---
import Contactos from '../components/Contactos.astro';
import Descripcion from '../components/Descripcion.astro';
---

<div class="alonso flex flex-col text-center mt-16 w-fit">
	<h1 class="text-[#030907] text-5xl font-bold">
		Alonso Smith
	</h1>
	<h2 class="text-[#1f1e1e] text-3xl mt-2 font-semibold">
		<span class="bg-yellow-300/50 px-1">Programador</span>
	</h2>
	<div class="mt-2">
		<Contactos />
	</div>
	<div class=mt-4>
		<Descripcion />
	</div>
</div>

<script>
    import { gsap } from 'gsap'
    import { ScrollTrigger } from 'gsap/ScrollTrigger'

    gsap.registerPlugin(ScrollTrigger)

    gsap.to('.alonso', {
        autoAlpha: 1,
        scale: 0,
        scrollTrigger: {
            trigger: '.alonso',
            start: 'top top',
            end: '+=600',
            scrub: 1,
            //markers: true, // uncomment to debug
            toggleActions: 'play none none reverse',
        }
    });
</script>